<div class="footer-inner">
  <% if (theme.footer.content) { %>
  <div class="footer-content"><%- theme.footer.content %></div>
  <% } %> <% if (theme.footer.statistics.enable) { %> <%-
  partial('_partials/footer/statistics.ejs') %> <% } %> <%
  if(theme.footer.beian.enable) { %>
  <!-- 备案信息 ICP for China -->
  <%- partial('_partials/footer/beian.ejs') %> <% } %>
  <span id="timeDate">正在获取时间</span>
  <span id="version">正在获取版本</span>
  <script>
    var now = new Date();

    function createtime() {
      var grt = new Date("01/23/2022 12:00:00"); //此处修改你的建站时间或者网站上线时间
      now.setTime(now.getTime() + 250);
      days = (now - grt) / 1000 / 60 / 60 / 24;
      dnum = Math.floor(days);
      hours = (now - grt) / 1000 / 60 / 60 - 24 * dnum;
      hnum = Math.floor(hours);
      if (String(hnum).length == 1) {
        hnum = "0" + hnum;
      }
      minutes = (now - grt) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum;
      mnum = Math.floor(minutes);
      if (String(mnum).length == 1) {
        mnum = "0" + mnum;
      }
      seconds =
        (now - grt) / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum;
      snum = Math.round(seconds);
      if (String(snum).length == 1) {
        snum = "0" + snum;
      }
      document.getElementById("timeDate").innerHTML =
        " 本站已运行 " +
        "<b>" +
        dnum +
        "</b>" +
        " 天 " +
        "<b>" +
        hnum +
        "</b>" +
        " 小时 " +
        "<b>" +
        mnum +
        "</b>" +
        " 分 " +
        "<b>" +
        snum +
        "</b>" +
        " 秒";
    }
    setInterval("createtime()", 250);
  </script>
  
</div>
